{% extends 'base.html' %}
{% load staticfiles %}
{% block unloggedHome %}

{% if error %}
<p style="background-color: salmon; padding: 10px;">{{ error }}</p>
{% endif %}

<div class="loginForm">
	<h2>Log In</h2>
	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}

		<div>
			<label for="username">Username</label>
			<input class="username" type="text" name="username" required maxlength="50" minlength="2" />
		</div>

		<div>
			<label for="password">Password</label>
			<input
				class="password"
				type="password"
				name="password"
				required
				maxlength="50"
				minlength="4"
			/>
		</div>

		<input class="submit" type="submit" value="Login" />
	</form>
</div>

{% endblock %}