{% extends 'base.html' %}
{% load staticfiles %}
{% block unloggedHome %}

{% if error %}
<p style="background-color: salmon; padding: 10px;">{{ error }}</p>
{% endif %}

<div class="registerForm">
	<h2>Sign Up</h2>
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		<div>
			<label for="username">Username</label>
			<br />
			<input class="username" type="text" name="username" maxlength="50" minlength="2" />
		</div>
		<div>
			<label for="email">Email</label>
			<br />
			<input class="email" type="email" name="email" maxlength="25" minlength="2" />
		</div>


		<div>
			<label for="password">Password</label>
			<br />
			<input class="password" type="password" name="password" maxlength="25" minlength="4" />
		</div>

		<div>
			<label for="password2">Confirm Password</label>
			<br />
			<input class="password2" type="password" name="password2" maxlength="25" minlength="4" />
		</div>

		<input class="submit" type="submit" value="Register" />
	</form>
</div>
{% endblock %}