{% extends 'base.html' %}
{% load staticfiles %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'bid.css' %}" />{% endblock %}
{% block loggedHome %}
<div class="endbid">
            <ul>
            {% for bid in bids %}
                {% if bid.ending == False and bidding %}
                    <li class="bidlist">
                        <div class="inside">
                            <div class="endpicture">
                                <img src="{{ bid.picture }}" />
                            </div>
                            <div class="endtext">
                                <h4><i class="fal fa-trophy-alt"></i></h4>
                                <h4>BID: {{ bid.name }}</h4>
                                <h4>OUR WINNER IS: {{ bidding.bid.profile|title }} !<br/> {{ bid.end_date }}</h4>
                            </div>
                        </div>
                    </li>

                {% endif %}
            {% endfor %}
            </ul>

    </div>
{% endblock %}