.profile {
    display: flex;
    width: 98vw;
    height: 100vh;
    flex-direction: row;
    color:white;
}
.profile_left{
    width: 100%;
    height: 100%;
}
.profile_right{
    width: 100%;
    height: 100%;
}
.profile_left img{
    height: 40%;
    width: 60%;
    margin-left: 15%;
}
.profile_left h1, .profile_left p{
    text-align: center;
}
.profile p{
    margin: 0 20%;
}
.profiledonate{
    text-align: center;
    border-bottom: 1px solid white;
}
.bidcreate{
    border-bottom: 1px solid white;
}
.bidcreate h1{
    text-align: center;
}
.bidcreate a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
.bidcreate img {
    height: 100px;
    width: 100px;
}