{% extends 'base.html' %}
{% load staticfiles %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'about.css' %}" />{% endblock %}
{% block unloggedHome %}
<div class="about">
    <h1><i class="fas fa-hand-holding-heart"></i> ABOUT US <i class="fas fa-hand-holding-heart"></i></h1>
<h3>The best Lorem Ipsum Generator in all the sea! Heave this scurvy copyfiller fer yar next adventure and cajol yar
    clients into walking the plank with ev'ry layout! Configure above, then get yer pirate ipsum...own the high seas,
    arg!</h3>
<p>Boatswain topmast scallywag gangway Admiral of the Black case shot port lateen sail gabion boom. Snow galleon loaded
    to the gunwalls hail-shot avast Blimey gaff long boat Nelsons folly boom. Bring a spring upon her cable belay to go
    on account six pounders bucko spanker Jack Ketch cutlass long boat Sail ho.

    Plate Fleet spanker run a shot across the bow hogshead main sheet topgallant killick gaff to go on account
    handsomely. Code of conduct clipper Davy Jones' Locker scallywag barque clap of thunder skysail chase guns careen
    cackle fruit. Jack Tar Nelsons folly league grog blossom hulk bowsprit heave down Brethren of the Coast lookout
    square-rigged.

    Fire ship jack Gold Road bounty hornswaggle maroon Sea Legs lee take a caulk crack Jennys tea cup. Plate Fleet come
    about hornswaggle keelhaul stern barkadeer gangway ho fire in the hole jack. Sail ho Plate Fleet hornswaggle line
    gunwalls black jack wench Nelsons folly sheet topsail.</p>
</div>
{% endblock %}